<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<script th:replace="~{common/head::static}"></script>
</head>
<body>
<div class="htmleaf-container">
	<div class="wrapper">
		<div class="container">
			<h1>Welcome</h1>
			
			<form class="form">
				<table>
					<thead>
						<tr>
							<th style="width: 20%"></th>
							<th style="width: 20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<input type="text" id="realName" name="realName" placeholder="真实姓名">
							</td>
							<td>
								<input type="text" id="mobile" name="mobile" placeholder="手机号">
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" id="email" name="email" placeholder="邮箱">
							</td>
							<td>
								<input type="text" id="userName" placeholder="用户名">
							</td>
						</tr>
						<tr>
							<td>
								<input type="password" id="password" placeholder="密码">
							</td>
							<td>
								<input type="text" id="license" placeholder="注册码">
							</td>
						</tr>
					</tbody>
				</table>
				<button type="submit" onclick="login()" >去登录</button>
				<button  id="register-button" onclick="register()">注册</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>

<script>
$(function(){
	$("#license").click(function(){
		$.ajax({
			  type: 'POST',
			  url: "getYanZhengCode.htm",
			  data: {
				    
			  },
			  dataType: 'JSON',
			  success: function(data) {
				  if(data.code == '1'){
					  return;
				  }
				  var person=prompt(data.msg); 
				  if (person){
						$.ajax({
							  type: 'POST',
							  url: "getYanZhengCode2.htm",
							  data: {
								'realName':$("#realName").val(),
								'mobile':$("#mobile").val(),
								'email':$("#email").val(),
								'userName':$("#userName").val(),
								'password':$("#password").val(),
								'code':person
							  },
							  dataType: 'JSON',
							  success: function(data2) {
								  debugger;
								  if (data2.code=='0'){
										alert(data2.msg);
								  }else{
									  alert(data2.msg);
								  }
							  }
						});
					}
			  }
		});
	});
	
	
});

function login(){
	event.preventDefault();
	window.location.replace("loginView.htm");
}

$('#register-button').click(function (event) {
	event.preventDefault();
	$.ajax({
		  type: 'POST',
		  url: "register.htm",
		  data: {
			  	 	'realName':$("#realName").val(),
			  	 	'mobile':$("#mobile").val(),
			  	 	'email':$("#email").val(),
			  	 	'userName':$("#userName").val(),
			  	 	'password':$("#password").val(),
			  	 	'license':$("#license").val()
			  	 },
		  dataType: 'JSON',
		  success: function(data) {
			if(data.code == '0'){
				$('form').fadeOut(1000);
				$('.wrapper').addClass('form-success');
				setTimeout(function(){
					window.location.replace("loginView.htm");
					},2000)
				
			}else{
				alert(data.msg);
			}
		  }
	});
	
});

</script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#000000">
<h1>房屋中介管理系统</h1>
</div>
</body>
</html>