<div class="easyui-layout" data-options="fit:true" xmlns:th="http://www.thymeleaf.org">
    <!-- Begin of toolbar -->
    <div id="wu-toolbar-2">
        <div class="wu-toolbar-search">
        	<form id="queryForm">
	            <table  style="width: 58%">
	            	<thead>
	            		<tr>
	            			<th style="width:5%;" align="right"></th>
	            			<th style="width:20%"></th>
	            			<th style="width:5%" align="right"></th>
	            			<th style="width:20%"></th>
	            			
	            			<th style="width:5%" align="right"></th>
	            			<th style="width:20%"></th>
	            			<th style="width:5%" align="right"></th>
	            			<th style="width:20%"></th>
	            			
	            		</tr>
	            	</thead>
	            	<tbody>
		            	<tr>
		            		<td style="text-align:right;">
		            			<label>物业名称：</label>
		            		</td>
		            		<td  style="text-align:left;">
		            			<input id="estateName" name="estateName" class="wu-text" style="width:100px">
		            		</td>
		            		
		            		<td style="text-align:right;">
		            			<label>状态：</label>
		            		</td>
		            		<td>
		            			<input id="homeStatus" name="homeStatus" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>面积区间：</label>
		            		</td>
		            		<td>
		            			<input id="minArea" name="minArea" class="wu-text" style="width:100px">
		            			   -<input id="maxArea" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>用途：</label>
		            		</td>
		            		<td>
		            			<input id="homeUse" name="homeUse" class="wu-text" style="width:100px">
		            		</td>
		            	</tr>
		            	<tr>
		            		<td style="text-align:right;">
		            			<label>城区：</label>
		            		</td>
		            		<td>
		            			<input id="region" name="region" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>朝向：</label>
		            		</td>
		            		<td>
		            			<select  id="oriented"  editable="false" name="oriented" class="easyui-combobox" panelHeight="auto"
		            			 style="width:100px;">
		            			 	<option></option>
					                <option value="朝南">朝南</option>
					                <option value="朝北">朝北</option>
					                <option value="朝东">朝东</option>
					                <option value="朝西">朝西</option>
					            </select>
		            		</td>
		            		
		            		<td style="text-align:right;">
		            			<label>价格区间：</label>
		            		</td>
		            		<td>
		            			<input id="minPrice" name="minPrice" class="wu-text" style="width:100px">
		            			   -<input id="maxPrice" name="maxPrice" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>装修：</label>
		            		</td>
		            		<td>
		            			<input id="decoration" name="decoration" class="wu-text" style="width:100px">
		            		</td>
		            	</tr>
		            	<tr>
		            		<td style="text-align:right;">
		            			<label>房间号：</label>
		            		</td>
		            		<td>
		            			<input id="roomNumber" name="roomNumber" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>经纪人</label>
		            		</td>
		            		<td>
		            			<input id="realName" name="realName" class="wu-text" style="width:100px">
		            		</td>
		            		<td style="text-align:right;">
		            			<label>层高：</label>
		            		</td>
		            		<td>
		            			<input id="minFloorNum" name="minFloorNum" class="wu-text" style="width:100px">
		            			   -</label><input id="maxFloorNum" class="wu-text" style="width:100px">
		            		</td>
		            		
		            		<td>
		            		</td>
		            	</tr>
	            	</tbody>
	            </table>
        	</form>
            
	            
            <div class="wu-toolbar-button">
	            <a href="#" style="text-align: center;" class="easyui-linkbutton" onclick="doSearch()" iconCls="icon-search">开始检索</a>
	            <a href="#" style="text-align: center;" class="easyui-linkbutton" onclick="doClear()" iconCls="icon-reload">清空</a>
	            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openAdd()" plain="true">添加</a>
	        </div>
        </div>
    </div>
    <!-- End of toolbar -->
    <table id="wu-datagrid-2" class="easyui-datagrid" toolbar="#wu-toolbar-2" style="width:1366px;height:638px;" pagination="true"
    url="queryRoomInfoPageJson.htm" data-options="nowrap:false" >
    	<thead>
    		<tr>
    			<th data-options="field:'notFollow',width:'40'">无跟进</th>
    			<th data-options="field:'homeStatus',width:'40'" >状态</th>
    			<th data-options="field:'region',width:'40'"  >城区</th>
    			<th data-options="field:'address',width:'80'"  >地址</th>
    			<th data-options="field:'estateName',width:'40'"  >物业名称</th>
    			<th data-options="field:'roomNumber',width:'40'"  >房间号</th>
    			<th data-options="field:'oriented',width:'40'" field="oriented">朝向</th>
    			<th data-options="field:'floorNum',width:'40'" >层高</th>
    			<th data-options="field:'area',width:'40'" >面积</th>
    			<th data-options="field:'price',width:'40'"  >价格</th>
    			<th data-options="field:'homeUse',width:'40'"  >用途</th>
    			<th data-options="field:'decoration',width:'40'" >装修</th>
    			<th data-options="field:'estateFee',width:'40'" >物业费</th>
    			<th data-options="field:'parkingFee',width:'40'" >停车费</th>
    			<th data-options="field:'electricityFee',width:'40'" >电费</th>
    			<th data-options="field:'payWay',width:'40'" >付款方式</th>
    			<th data-options="field:'realName',width:'40'" >经纪人</th>
    			<!-- <th data-options="field:'createTimeStr',width:'40'" >添加时间</th> -->
    			<th data-options="field:'name13',width:'40'"  formatter="operate_formatter">操作</th>
    			<!-- address -->
    		</tr>
    	</thead>
    </table>
    
</div>
<!-- Begin of easyui-dialog -->
<div id="wu-dialog-2" class="easyui-dialog" data-options="closed:true,iconCls:'icon-save'" style="width:400px; padding:10px;">
	<form id="wu-form-2" method="post">
        <table>
            <tr>
                <td width="60" align="right">城区:</td>
                <td><input type="text" name="region" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">地址:</td>
                <td><input type="text" name="address" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">物业名称:</td>
                <td><input type="text" name="estateName" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">房间号:</td>
                <td><input type="text" name="roomNumber" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">朝向:</td>
                <td>
					<select  name="oriented" editable="false" class="easyui-combobox" panelHeight="auto" style="width:100px">
		                <option value="朝南">朝南</option>
		                <option value="朝北">朝北</option>
		                <option value="朝东">朝东</option>
		                <option value="朝西">朝西</option>
		            </select>
				</td>
            </tr>
            <tr>
                <td align="right">层高:</td>
                <td><input type="text" name="floorNum" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">面积:</td>
                <td><input type="text" name="area" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">价格:</td>
                <td><input type="text" name="price" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">用途:</td>
                <td><input type="text" name="homeUse" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">装修:</td>
                <td><input type="text" name="decoration" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">状态:</td>
                <td><input type="text" name="homeStatus" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">物业费:</td>
                <td><input type="text" name="estateFee" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">停车费:</td>
                <td><input type="text" name="parkingFee" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">电费:</td>
                <td><input type="text" name="electricityFee" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">付款方式:</td>
                <td><input type="text" name="payWay" class="wu-text" /></td>
            </tr>
            <tr>
                <td align="right">业主电话:</td>
                <td><input type="text" name="ownerMobile" class="wu-text" /></td>
            </tr>
        </table>
    </form>
</div>
<div id="room_XiangQing">房屋详情</div>
<!-- End of easyui-dialog -->
<script type="text/javascript">
	//详情按钮
	function operate_formatter(value, row, index) {
	    return "<a href='#' onclick='openXiangQing(\""+row.id+"\")' class='easyui-linkbutton'>详情</a>";
	}
	
	//点击详情按钮，打开房屋详情弹窗
	function openXiangQing(rowId){
		$('#room_XiangQing').dialog({
		    title: '房屋详情',
		    width: 1000,
		    height: 500,
		    closed: false,
		    cache: false,
		    href: 'getRoom_XiangQing.htm?id='+rowId,
		    modal: true
		});
	}
	
	
	/**
	* Name 添加记录
	*/
	function add(){
		$('#wu-form-2').form('submit', {
			url:'addRoomInfo.htm',
			success:function(data){
				debugger;
				if(data != 'seccess'){
					$.messager.alert('信息提示',data,'info');
				}
				else
				{
					debugger;
					doSearch();
					$.messager.alert('信息提示',"添加成功",'info');
					$('#wu-dialog-2').dialog('close');
				}
			}
		});
	}
	var queryForm;
	/*查询*/
	function doSearch(){
		var jsonData = $('#queryForm').serializeJSON();
		$('#wu-datagrid-2').datagrid('load',jsonData);
	}
	
	/* 清空搜索条件 */
	function doClear(){
		document.getElementById("queryForm").reset();
	}
	/**
	* Name 修改记录
	*/
	function edit(){
		$('#wu-form-2').form('submit', {
			url:'',
			success:function(data){
				if(data){
					$.messager.alert('信息提示','提交成功！','info');
					$('#wu-dialog-2').dialog('close');
				}
				else
				{
					$.messager.alert('信息提示','提交失败！','info');
				}
			}
		});
	}
	
	/**
	* Name 删除记录
	*/
	function remove(){
		$.messager.confirm('信息提示','确定要删除该记录？', function(result){
			if(result){
				var items = $('#wu-datagrid-2').datagrid('getSelections');
				var ids = [];
				$(items).each(function(){
					ids.push(this.productid);	
				});
				//alert(ids);return;
				$.ajax({
					url:'',
					data:'',
					success:function(data){
						if(data){
							$.messager.alert('信息提示','删除成功！','info');		
						}
						else
						{
							$.messager.alert('信息提示','删除失败！','info');		
						}
					}	
				});
			}	
		});
	}
	
	/**
	* Name 打开添加窗口
	*/
	function openAdd(){
		$('#wu-form-2').form('clear');
		$('#wu-dialog-2').dialog({
			closed: false,
			modal:true,
            title: "添加房源",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: add
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#wu-dialog-2').dialog('close');                    
                }
            }]
        });
	}
	
	/**
	* Name 打开修改窗口
	*/
	function openEdit(){
		$('#wu-form-2').form('clear');
		var item = $('#wu-datagrid-2').datagrid('getSelected');
		//alert(item.productid);return;
		$.ajax({
			url:'',
			data:'',
			success:function(data){
				if(data){
					$('#wu-dialog-2').dialog('close');	
				}
				else{
					//绑定值
					$('#wu-form-2').form('load', data)
				}
			}	
		});
		$('#wu-dialog-2').dialog({
			closed: false,
			modal:true,
            title: "修改信息",
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: edit
            }, {
                text: '取消',
                iconCls: 'icon-cancel',
                handler: function () {
                    $('#wu-dialog-2').dialog('close');                    
                }
            }]
        });
	}	
	
	function close_Room_XiangQing(){
		$('#room_XiangQing').dialog('close');
	}
</script>