<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cyp.home.mapper.RoomFollowMapper" >
  <resultMap id="BaseResultMap" type="com.cyp.home.model.RoomFollow" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="room_Id" property="roomId" jdbcType="VARCHAR" />
    <result column="member_Code" property="memberCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="create_Time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_Time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Where_List">
  	<if test="id != null and id != '' ">
  		and id = #{id}
  	</if>
  	<if test="roomId != null  and roomId != '' ">
  		and room_Id = #{roomId}
  	</if>
  	<if test="memberCode != null and memberCode != '' ">
  		and member_Code = #{memberCode}
  	</if>
  	<if test="status != null and status != '' ">
  		and status = #{status}
  	</if>
  	<if test="content != null and content != '' ">
  		and content = #{content}
  	</if>
  </sql>
  <sql id="Base_Column_List" >
    id, room_Id, member_Code, status, content, create_Time, update_Time
  </sql>
  
  <select id="selectRoomFollowByParams" parameterType="com.cyp.home.model.RoomFollow" resultMap="BaseResultMap">
  	select 
  		<include refid="Base_Column_List"></include>
  	from m_room_follow where 1=1
  	<include refid="Base_Where_List"></include>
  	order by create_time desc
  </select>
  
    <insert id="addRoomFollow" parameterType="com.cyp.home.model.RoomFollow" >
    insert into m_room_follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomId != null" >
        room_Id,
      </if>
      <if test="memberCode != null" >
        member_Code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
        create_Time,
        update_Time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="memberCode != null" >
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
        now(),
        now(),
    </trim>
  </insert>
</mapper>